*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}
:root{
    --prymari-color: #15171A;
    --description-color: #738A94;
    --text-color: #FFFFFF;
    --principal-text-color: #434952;
    --description-perfil-color: #90A2AA;
    --border-color: #E6E9ED;

    --H1-font: 5.5rem;
    --H2-font:4.2rem;
    --H3-font-title: 3.2rem;
    --H3-font-movil: 2.6rem;
    --description-font: 2.2rem;
    --biger-font: 1.8rem;
    --large-font:1.6rem;
    --nav-font:1.3rem;
    --small-font: 1.2rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* Here start the header*/

header{
    width: 100%;
    height: 80px;
    background-color: var(--prymari-color);
    display: flex;
}
header section {
    display: none;
}
header nav{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
header nav ul{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
header nav ul li{
    color: var(--text-color);
    font-size: 1.3rem;
}

/* Here start the main */

.main__home{
    width: 90%;
    margin: 0 auto;
}
.main__home .home__aboutme{
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}
.home__aboutme-image{
    width: 100%;
    display: flex;
    justify-content: center;
}
.home__aboutme-title{
    font-size: 2.2rem;
    color: var(--prymari-color);
    font-weight: 600;
    margin-top: 20px;
}
.home_aboutme-description{
    font-size: 1.8rem;
    line-height: 24px;
    color: var(--description-color);
    margin-top: 20px;
    text-align: center;
}

/*These lines of code is to recycle code*/ 

.title__card {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--prymari-color);
    margin-bottom: 20px;
}
.picture__card{
    width: 100%;
    height: 200px;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.subtitle__card{
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--prymari-color);
    margin: 10 0 10 0;
}
.description__card{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
    color: var(--description-color);
}
.button{
    width: 100px;
    height: 40px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: var(--border-color);
    border: 1px solid var(--prymari-color);
    text-align: center;
    font-size: 1.2rem;
    padding: 12px;
    color: var(--prymari-color);
}

.home__meblog, .home__bestproject{
    margin-top: 30px;
    display: grid;
    place-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}



