*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}
:root{
    --prymari-color: #15171A;
    --description-color: #738A94;
    --text-color: #FFFFFF;
    --principal-text-color: #434952;
    --description-perfil-color: #90A2AA;
    --border-color: #E6E9ED;
    --content-color: #303a3e;

    --H1-font: 5.5rem;
    --H2-font:4.2rem;
    --H3-font-title: 3.2rem;
    --H3-font-movil: 2.6rem;
    --description-font: 2.2rem;
    --biger-font: 1.8rem;
    --large-font:1.6rem;
    --nav-font:1.3rem;
    --small-font: 1.2rem;
}

a{
    text-decoration: none;
}

/* Here start the header*/

header li{
    list-style: none;
}
header{
    width: 100%;
    height: 80px;
    background-color: var(--prymari-color);
    display: flex;
}
header section {
    display: none;
}
header nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}
header nav ul{
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
header nav ul li a{
    color: var(--text-color);
    font-size: 1.3rem;
}

/* Here start the main */

.main__home, .main__portafolio, .main__blogs, .main__tutorial, .main__alcoholismo{
    width: 90%;
    margin: 0 auto;
}
.main__home .home__aboutme{
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}
.home__aboutme-image{
    width: 204px;
    height: 253px;
    display: flex;
    justify-content: center;
}
.home__aboutme-title{
    font-size: 2.2rem;
    color: var(--prymari-color);
    font-weight: 600;
    margin-top: 20px;
}
.home_aboutme-description{
    font-size: 1.8rem;
    line-height: 27px;
    color: var(--description-color);
    margin-top: 20px;
    text-align: center;
}

/*These lines of code is to recycle code*/ 

.title__card {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--prymari-color);
    margin-bottom: 20px;
}
.picture__card{
    width: 100%;
    height: 300px;
}
.img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.subtitle__card{
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--prymari-color);
    margin: 10 0 10 0;
}
.description__card{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
    color: var(--description-color);
    margin-bottom: 30px;
}
.button{
    width: 100px;
    height: 40px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: var(--border-color);
    border: 1px solid var(--prymari-color);
    text-align: center;
    font-size: 1.2rem;
    padding: 12px;
    color: var(--prymari-color);
}

.home__meblog, .home__bestproject{
    margin-top: 30px;
    display: grid;
    place-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}

/* Here start the statistics tablet */

.home__statistics{
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.home__statistics-title{
    color: var(--prymari-color);
    font-size: 2.0rem;
}
.home__statistics-table{
    margin: 20px 0;
    width: 100%;
    max-width: 450px;
    height: 200px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(5, 40px);
    border: 1px solid var(--description-perfil-color);
    border-radius: 12px;
}

.home__statistics-table p{
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--description-perfil-color);
  padding-top: 10px;
  color: var(--prymari-color);
  font-size: 1.4rem;
}

.home__statistics-table p:nth-child(1){
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-right: 1px solid var(--description-perfil-color);
}

.home__statistics-table p:nth-child(2){
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-right: 1px solid var(--description-perfil-color);
}

.home__statistics-table p:nth-child(3){
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    border-right: 1px solid var(--description-perfil-color);
}

.home__statistics-table p:nth-child(4){
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    border-right: 1px solid var(--description-perfil-color);
}

.home__statistics-table p:nth-child(5){
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    border: none;
    border-right: 1px solid var(--description-perfil-color);
}
.home__statistics-table p:nth-child(10){
    border: none;
}

/* Here start the portafolio main */

.portafolio__proyectos{
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}

.portafolio__proyectos-card{
    height: auto;
    margin-bottom: 30px;
}

.portafolio__title {
    font-size: 2.2rem;
    font-weight: 500;
    margin-top: 30px;
    color: var(--prymari-color);
}
.portafolio__proyectos{
    margin-top: 30px;
    margin-bottom: 30px;
}

.portafolio__proyectos-card .proyectos__card-image, .blogs__fiveFactors-image, .blogs__fourReasons-image, .tutorial__ubuntuFile-image, .tutorial__myLiveServer-image{
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.proyecto__nasaWebsite-image{
    background-image: url("https://i.postimg.cc/bvWgq99g/Nasa-website-1.png");
}
.proyecto__legoWebsite-image{
    background-image: url("https://i.postimg.cc/T36Y4KL4/Lego-website-1.png");
}
.proyecto__nftcard-image{
    background-image: url("https://i.postimg.cc/bNQqkqCH/nftcard-1.png");
}
.proyecto__resumenDeCompra-image{
    background-image: url("https://i.postimg.cc/9M6jwkyn/resumen-de-compra-1.png");
}
.proyectos__card-button{
    margin-top: 20px;
}

.portafolio__gratitude{
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}

.portafolio__gratitude-title{
    font-size: 2.2rem;
    color: var(--prymari-color);
    font-weight: 500;
    text-align: center;
}

.portafolio__gratitude-description{
    font-size: 1.6rem;
    line-height: 28px;
    color: var(--description-color);
    text-align: center;
    margin-top: 20px;
}

.portafolio__technology{
    margin-bottom: 30px;
    margin-top: 20px;
}

.portafolio__technology-title{
    font-size: 2.2rem;
    color: var(--prymari-color);
    font-weight: 500;
    text-align: center;
}


.technology__used-first li, .technology__used-second li, .technology__used-third li{
    font-size: 1.6rem;
    color: var(--description-color);
    line-height: 24px;
    list-style: disc ;
    list-style-position: inside;
}

/* Here start blogs page */

.main__blogs-title, .main__tutorial-title{
    font-size: 2.2rem;
    color: var(--prymari-color);
    margin: 30px 0px;
}

.blogs__fiveFactors-image{
    background-image: url("https://images.pexels.com/photos/3244604/pexels-photo-3244604.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.blogs__fourReasons-image{
    background-image: url("https://cdn.pixabay.com/photo/2014/08/26/20/08/man-428392_960_720.jpg");
}

.blogs__fourReasons-card {
    margin: 30px 0;
}

/* Here start the tutorial page */

.tutorial__ubuntuFile-image{
    background-image: url("https://i.postimg.cc/2jM0S08J/ubuntu.jpg");
}

.tutorial__myLiveServer-image{
    background-image: url("https://i.postimg.cc/T2D4mzSG/la-copia.jpg");
}

.tutorial__ubuntuFile-card {
    margin: 30px 0px;
}

/* Here start the fivefactore blog */

.main__frustration{
    width: 100%;
}
.main__frustration li {
    list-style-position: inside;
    font-size: 2rem;
    font-weight: 400;
    line-height: 32px;
    color: var(--content-color);
    margin-top: 20px;
}
.frustration{
    width: 100%;
}
.frustration__content ol {
    list-style-type: decimal-leading-zero;
}
.frustration__content-background{
    width: 100%;
    height: 585px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 30px;
}
.frustration__coverPage-content{
    width: 100%;
    height: 350px;
    background-image: url("https://images.pexels.com/photos/3244604/pexels-photo-3244604.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.frustration__coverPage-content h2{
    color: var(--text-color);
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 36px;
    text-align: center;
}
.frustration__content{
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 95%;
    
}
.frustration__content h3{
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 35px;
    color: var(--prymari-color);
    border-bottom: 1px solid var(--border-color);
    margin-top: 50px;
}

.frustration__content p{
    font-size: 2rem;
    font-weight: 400;
    line-height: 32px;
    color: var(--content-color);
    margin-top: 20px;
}
.frustration__content-skillDevelopment li {
    font-size: 2rem;
    line-height: 32px;
    font-weight: 700;
    color: var(--prymari-color);
}

.frustration__content div:nth-child(6){
    background-image: url("https://images.pexels.com/photos/897817/pexels-photo-897817.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.frustration__content div:nth-child(20){
    background-image: url("https://static.platzi.com/media/user_upload/5%20claves%20que%20me%20ayudaron%20a%20superar%20la%20frustracion-401c7f9e-2115-40bd-baa2-a82a02637fb0.jpg");
}
.frustration__content div:nth-child(33){
    background-image: url("https://static.platzi.com/media/user_upload/nuevo%20enfoque%20fuera%20frustracion-05ab8737-c341-4b88-b368-a1aef0b583e8.jpg");
}

/* Here start the tutorial style */

.main__tutorial {
    width: 80%;
    margin: 0 auto;
}

.main__tutorial h2{
    margin: 50px 0 20px 0;
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--prymari-color);
}
.main__tutorial p, .main__tutorial li{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 22px;
    color: var(--content-color);
}
h2 + p {
    margin-bottom: 20px;
}
.main__tutorial div {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main__ubuntu div, .liveServer__content-info div{

    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main__tutorial-content{
    margin-bottom: 30px;
}


/* Here start the ubuntu tutorial page */

.main__tutorial section{
    margin-bottom: 50px;
}

.main__ubuntu div:nth-child(2){
    background-image: url("https://i.postimg.cc/YqHKqDLS/3-LI.jpg");
}
.main__ubuntu div:nth-child(4){
    background-image: url("https://i.postimg.cc/nL6SSMvL/3.png");
}
.main__ubuntu div:nth-child(6){
    background-image: url("https://i.postimg.cc/85zc3PDq/1-2.png");
}
.main__ubuntu div:nth-child(8){
    background-image: url("https://i.postimg.cc/YqHKqDLS/3-LI.jpg");
}

.main__ubuntu p:nth-child(3){
    margin: 30px 0 0px 0;
}
.main__ubuntu p:nth-child(5){
    margin: 30px 0 0px 0;
}
.main__ubuntu p:nth-child(7){
    margin: 30px 0 0px 0;
}
.main__ubuntu p:nth-child(8){
    margin-bottom: 100px;
}

/* Here start the style for the ly server tutorial */

.main__liveServer-content{
    margin-bottom: 30px;
}
.liveServer__content-info div:nth-child(2){
    background-image: url("https://i.postimg.cc/ZqcH3DWL/live-Server1.jpg");
}
.liveServer__content-info div:nth-child(4){
    background-image: url("https://i.postimg.cc/s2Grn7Rq/live-Server2.jpg");
}
.liveServer__content-info div:nth-child(6){
    background-image: url("https://i.postimg.cc/Y0RK4x1G/live-Server3.jpg");
}
.liveServer__content-info div:nth-child(8){
    background-image: url("https://i.postimg.cc/6q9FNGD9/live-Server4.jpg");
}

/*Footer code starts here*/

footer{
    width: 100%;
    height: 160px;
    background-color: var(--prymari-color);
    
}
.footer__content{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.footer__socialMedia{
    width: 90%;
    height: 40%;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    
}
.footer__socialMedia-firt{
    display: flex;
    align-items: center;
}
.footer__socialMedia-firt p{
   color: var(--text-color);
   font-size: 1.6rem;
   margin-left: 10px;
}
.footer__socialMedia-firt .socialMedia__img{
    background-image: url("https://img.icons8.com/cute-clipart/344/github.png");
}
.footer__socialMedia-second .socialMedia__img{
    background-image: url("https://img.icons8.com/color/344/gmail-new.png");
}

.footer__socialMedia-second {
    display: flex;
    align-items: center;
}

.footer__socialMedia-second p{
    color: var(--text-color);
    font-size: 1.6rem;
    margin-left: 10px;
}
.socialMedia__img{
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
footer p{
    color: white;
}

.footer__gratitude{
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}

.footer__gratitude p{
    font-size: 1.2rem;
    line-height: 18px;
    color: var(--text-color);
    text-align: center;
}

/* Here start the breakpoint for the  tablet*/

@media screen and (min-width: 600px) and (max-width:1600px) {
    
    header{
        display: flex;
        justify-content: space-between;
    }
    header section {
        display: flex;
        align-items: center;
        margin-left: 40px;
    }
    header section picture {
        width: 60px;
        height: 60px;
    }
    header section picture  img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    header section p a{
        color: var(--text-color);
        font-size: 1.4rem;
        margin-left: 20px;
    }
    header nav{
        width: auto;
        margin-right: 40px;
    }
    header nav ul{
        width: auto;
    }
    header nav ul li{
        font-size: 1.4rem;
        margin-right: 40px;
    }
    header nav ul li:last-child{
        margin-right: 0px;
    }
    
    /* here start the style for the footer */

    footer{
        display: flex;
        justify-content: center;
        
    }
    .footer__content{
        flex-direction: row;
        align-items: center;
        width: 90%;
    }

    .footer__socialMedia{
        flex-direction: row;
        justify-content: start;
    }
    .socialMedia__img{
        margin-left: 20px;
    }

    .footer__gratitude p{
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 24px;
    }

    /* Here start the style for portafolio between tablet and desktop */

    .portafolio__technology-title{
        font-size: 3.2rem;
    }
    .portafolio__technology-content{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    .portafolio__technology-title{
        font-size: 3.2rem;
    }
    .portafolio__technology-content{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    .portafolio__gratitude-title{
        font-size: 3.2rem;
        text-align: center;
    }
    .portafolio__gratitude-description{
        font-size: 2.2rem;
        line-height: 33px;
    }
    .technology__used-first li, .technology__used-second li, .technology__used-third li{
        font-size: 2.2rem;
        line-height: 33px;
    }
}

@media screen and (min-width:601px) and (max-width:740px){
    .technology__used-first li, .technology__used-second li, .technology__used-third li{
        font-size: 1.8rem;
        
    }
}

@media screen and (min-width: 600px) and (max-width:940px) {

    /* Here start the header */

    header section p {
        font-size: 1.2rem;
        margin-left: 10px;
    }

    header nav ul li{
        font-size: 1.2rem;
        margin-right: 10px;
    }
    
    /* Here start the footer */
    
    footer{
        flex-direction: row;
    }
    .footer__content{
        flex-direction: row;
    }
    .footer__socialMedia{
       flex-direction: column;
       justify-content: center;
       height: 100%;
    }
    .footer__gratitude{
       display: flex;
       align-items: center;
    }
    .footer__gratitude p{
        font-size: 1.4rem;
        margin-right: 40px;
    }
    .footer__socialMedia-firt{
        margin-left: 40px;
    }
    .footer__socialMedia-second {
        margin-left: 40px;
        margin-top: 10px;
    }
    
    /* Here start the home main */
    
    .home__aboutme-image{
        width: 347px;
        height: 420px;
    }
    .home__aboutme-image img{
        object-fit: cover;
    }
    .home__aboutme-title{
     font-size: 4rem;
     font-weight: 400;
     text-align: center;
    }
    .home_aboutme-description{
        font-size: 2.6rem;
        line-height: 39px;
    }
    
    .title__card{
        font-size: 3.2rem;
        font-weight: 400;
        text-align: center;
    }
    
    .subtitle__card{
        font-size: 2.2rem;
    }
    
    .description__card{
        font-size: 1.8rem;
        font-weight: 27px;
    }
    
    .card__content{
        display: flex;
        
    }
    .card__content .picture__card{
        width: 50%;
    }
 

    /* Here start portafolio tablet style */

    .subtitle__card{
        margin: 0;
    }
    .main__portafolio .picture__card{
        height: 250px;
    }
    .portafolio__title{
        font-size: 3.2rem;
        text-align: center;
    }
    .card__content-info{
        width: 50%;
        padding:  10px 0 0 10px;
    }

   


    /* Here start the blogs tablet style */

    .main__blogs-title{
        font-size: 2.6rem;
    }

  .main__blogs .blogs__fiveFactors-image, .main__blogs .blogs__fourReasons-image{
    height: auto;
  }
  .main__tutorial .tutorial__myLiveServer-image{
    width: 50%;
  }
  .main__tutorial .card__content-info{
    width: 50%;
  }
  .tutorial__myLiveServer-image{
    height: 250px;
  }
  .tutorial__ubuntuFile-image{
    height: 250px;
  }
   /* Here start the portafolio style for tablet */

   .main__tutorial h2{
       font-size: 2.6rem;
   }
}

@media screen and (min-width: 720px) and (max-width:940px){
    
    header nav ul li {
        margin-right: 30px;
    }
}

@media screen and (min-width: 840px) and (max-width:940px){
    
   
    footer{
        display: flex;
        justify-content: center;
    }
    .footer__content{
        width: 80%;

    }
    
}

/* Here start the breakpoint for the  desktop*/

@media screen and (min-width: 941px) and (max-width:1600px){


    /* Here start the home page */

    .home__aboutme-image{
        width: 446px;
        height: 540px;
    }

    .home__aboutme-title{
        font-size: 5.5rem;
        font-weight: 400;
    }

    .home_aboutme-description{
        font-size: 2.6rem;
        line-height: 38px;
        font-weight: 400;
        text-align: center;
    }


    .title__card{
        font-size: 3.2rem;
        font-weight: 400;
        text-align: center;
    }
    
    .subtitle__card{
        font-size: 2.6rem;
    }
    
    .description__card{
        font-size: 2.2rem;
        line-height: 33px;
        margin-top: 40px;
    }
    
    .card__content{
        display: flex;
        width: 90%;
        margin: 0 auto;
    }

    .card__content .picture__card {
        width: 60%;
        height: auto;
    }

    .card__content .picture__card img{
        height: 500px;
    }
    .card__content-info{
        width: 40%;
        padding-left: 20px;
        padding-top: 30px;
    }

    /* Here start the stily for home statistics tablet */

    .home__statistics{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home__statistics-table{
        grid-template-rows: repeat(5, 1fr);
        height: 400px;
    }

    .home__statistics-table p{
        padding-top: 30px;
        font-size: 1.6rem;
        font-weight: 500;
    }

    /* Here start the style for portafolio page */
    .portafolio__title, .main__blogs-title, .main__tutorial .main__tutorial-title{
        font-size: 3.6rem;
    }

    .portafolio__proyectos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 550px);
        gap: 40px;
    }
    .portafolio__proyectos-card{
        width: 100%;
        height: 600px;
        flex-direction: column;
    } 
    .portafolio__proyectos-card  .picture__card{
        width: 100%;
        height: 200px;
    }
    .portafolio__proyectos-card .card__content-info{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
    }
    .description__card{
        margin-top: 10px;
    }
    .portafolio__gratitude, .portafolio__technology{
        padding: 60px 0;
    }

    /* Here start the style for blogs page */

    .main__blogs-content{
        margin-bottom: 40px;
    }
    .blogs__fourReasons-card{
        margin-top: 40px;
    }
    .blogs__fiveFactors-card div:nth-child(2), .blogs__fourReasons-card div:nth-child(2) {
        padding-top: 0px;
    }
    .blogs__fiveFactors-title, .blogs__fourReasons-title{
        margin-top: 0;
    } 

    /* Here start the tutorial page */ 

    .main__tutorial-content .tutorial__ubuntuFile-image, .main__tutorial-content .tutorial__myLiveServer-image {
        width: 60%;
        height: 100%;
    }
    .main__tutorial-content .tutorial__ubuntuFile-card div:nth-child(2), .main__tutorial-content .tutorial__myLiveServer-card div:nth-child(2) {
        width: 40%;
    }
    .tutorial__ubuntuFile-card{
        margin-top: 40px;
    }
    .tutorial__ubuntuFile-card, .tutorial__myLiveServer-card{
        height: 300px;
    }

    .tutorial__myLiveServer-card div:nth-child(2), .tutorial__ubuntuFile-card div:nth-child(2){
        padding-top: 0;
    }

    .main__tutorial .tutorial__myLiveServer-description, .main__tutorial .tutorial__ubuntuFile-description{
        font-size: 2rem;
        line-height: 38px;

    }

    /* Here start the frutration page */

    .frustration__coverPage-content{
        display: flex;
        justify-content: center;
    }

    /* Here start the tutorial style*/

    .main__tutorial h2{
        font-size: 2.6rem;
    }
    .main__tutorial p{
        font-size: 1.6rem;
        line-height: 24px;
    }
}